.navbar {
  width: 296px;
  min-height: 100vh !important;
  &-logo a {
    width: 151px;
    height: 40px;
    background: url('./../images/logo-ANSWER.svg') no-repeat center;
    background-size: contain;
    @include textHide;
  }
  .nav-link:hover {
    background: darken($light, 10%);
    color: #198754 !important;
    border-left: 4px solid $success;
    padding-left: 28px !important;
  }
  &-admin img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}