.assignment {
  margin-left: 296px;
  .topbar-title {
    margin-right: 50px !important;
  }
  .topbar-select {
    width: 140px;
    cursor: pointer;
    &:focus {
      box-shadow: none;
    }
  }
  .detail-list {
    width: 35%;
  }
  .detail-select {
    width: 80px;
    &:focus {
      box-shadow: none;
    }
  }

  .card-wrap {
    width: 65%;
  }
  .card-list img {
    max-width: none;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .card-list .reply-list li::before {
    content: "•";
    padding-right: 8px;
    padding-left: 8px;
  }
  .content-file:hover {
    background: $gray-400;
  }
  .card-icon a:hover {
    color: $gray-600 !important;
  }
}